version: "3.9"

services:
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    user: root
    privileged: true
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc|var|run)($$|/)'
    expose:
      - 9100
    ports:
      - "9200:9100"
